<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/logout"method="post">
        <button type="submit">Logout</button>
    </form>
    <h1>Welcome Admin</h1>
    <form action="/admin/created">
        <button type="submit">Create Voter</button>
    </form>
    <form action="/admin/candidate">
        <button type="submit">Create Candidate</button>
    </form>
    <form action="/candidates">
        <button type="submit">Candidates</button>
    </form>
    <form action="/voters">
        <button type="submit">Voters</button>
    </form>
</body>
</html>