<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Candidate {{candidates.id}}</title>
</head>
<body>
    <form action="/create/plans/{{candidates.id}}" method="post">
        <label for="Bio">Bio</label>
        <textarea name="bio" cols="30" rows="10" value="{{candidates.bio}}">
            {{candidates.bio}}
        </textarea>
        <label for="Plan">Plan</label>
        <textarea name="plan"  cols="30" rows="10" value="">
        </textarea>
        <label for="img">Insert the link for your img</label>
        <input type="text" name="file">
        <button type="submit">Create Plan</button>
    </form>
</body>
</html>