<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Candidates</h1>
    {%for candidate in candidates%}
        <div class="candidats">
            <textarea name="bio"  cols="30" rows="10">{{candidate.bio}}</textarea>
            <img src="{{candidate.img}}" alt="candidate">
            <a href="/show/{{candidate.id}}">show bio and info</a>
        </div>
    {%endfor%}
    <form action="/vote" method="post">
        <button type="submit">Vote</button>
    </form>
</body>
</html>