<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit candidate</title>
</head>

<body>
    <div class="container">
        <div>
            <h2>Edit Candidate</h2>
            <div>
                <a href="/dashboard">Back</a>
                <form action="/logout" method="post"><input type="submit" value="Log out">
                </form>
            </div>
        </div>
        <form class="row" action="/edited/candidate/{{all_candidates.id}}" method="post">
            <div class="row">
                <div>
                    <label for="first name">First Name</label>
                    <input type="text" name="first_name" value="{{all_candidates.first_name}}">
                </div>
                <div>
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" value="{{all_candidates.last_name}}">
                </div>
                <input type="submit" value="update">
            </div>
        </form>
    </div>
</body>

</html>