<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="" alt="">
    <h1>USA VOTING AND Elections</h1>
    <div class="main">
        <p>please select your role in this selection</p>
        <form action="/validate" method="post">
            <select name="role" id="role">
                <option value="select your role">Select your Role</option>
                <option value="admin">Admin</option>
                <option value="candidate">Candidate</option>
                <option value="voter">Voter</option>
            </select>
            <button type="submit">Select</button>
        </form>
    </div>
</body>
</html>