@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

*, body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

.nav-item{
    display: flex;
    justify-content: end;
    margin-top: -55px;
}

.form-header{
    display: flex;
    justify-content: start;
}

.form-header-btn{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;
    top: 50%;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 200px;
    height: 300px;
}
